/**============================================
   *              VARIABLES 
   *=============================================**/

// Brand Colors
$color-primary: rgb(26, 188, 156); // #1abc9c
$color-primary-dark: rgb(55, 124, 110);
$color-primary-light: rgb(91, 255, 222); // #1abc9c

// Border Colors
$color-grey-border: rgb(145, 133, 129);
$color-green-border: #00ff15;

// Text Colors
$color-white: rgb(255, 255, 255);
$color-off-white: rgb(249, 245, 243);
$color-black: rgb(30, 30, 30);
$color-grey: rgb(116, 113, 112); // Light text (placeholder)
$color-link: rgb(0, 132, 255);

// Btn Colors
$color-gold: #ffd849;

// Gradient Colors
$color-text-grad-1: rgba(55, 124, 110, 0.85);
$color-text-grad-2: rgba(91, 255, 222, 0.85); // #1abc9c
