#list2.side-nav__parameters--grid
  h3#countries.side-nav__parameters--header Select Country
  ul#countries-col-1.side-nav--mini
    li.side-nav__list-item--mini Austrailia - au 
    li.side-nav__list-item--mini Brazil - br 
    li.side-nav__list-item--mini Canada - ca 
    li.side-nav__list-item--mini Egypt - eg 
    li.side-nav__list-item--mini France - fr 
    li.side-nav__list-item--mini Germany - de 
    li.side-nav__list-item--mini Greece - gr 
    li.side-nav__list-item--mini Hong Kong - hk 
    li.side-nav__list-item--mini India - in 
    li.side-nav__list-item--mini Ireland - ie 
    li.side-nav__list-item--mini Israel - il 
    li.side-nav__list-item--mini Italy - it 
    li.side-nav__list-item--mini Japan - jp 
  ul#countries-col-2.side-nav--mini
    li.side-nav__list-item--mini Netherlands - nl 
    li.side-nav__list-item--mini Norway - no
    li.side-nav__list-item--mini Pakistan - pk 
    li.side-nav__list-item--mini Peru - pe 
    li.side-nav__list-item--mini Philippines - ph  
    li.side-nav__list-item--mini Portugal - pt 
    li.side-nav__list-item--mini Romania - ro 
    li.side-nav__list-item--mini Russia - ru 
    li.side-nav__list-item--mini Singapore - sg 
    li.side-nav__list-item--mini Spain - es 
    li.side-nav__list-item--mini Switzerland - ch 
    li.side-nav__list-item--mini Taiwan - tw 
    li.side-nav__list-item--mini Ukraine - ua 
    li.side-nav__list-item--mini United Kingdom - gb 
    li.side-nav__list-item--mini United States - us 