#list3.side-nav__parameters--grid
  h3#dateRange.side-nav__parameters--header Select Country
  ul#dateRange-col-1.side-nav--mini
    li.side-nav__list-item--mini Previous Day
    li.side-nav__list-item--mini Previous Week 
    li.side-nav__list-item--mini Previous Month 
    li.side-nav__list-item--mini 2023 
    li.side-nav__list-item--mini 2022 
    li.side-nav__list-item--mini 2021 
    li.side-nav__list-item--mini 2020 
    li.side-nav__list-item--mini Specify Your Own Range 