footer.footer
  .footer__content
    .footer__links
      h5.footer__head About
      a.link__footer History
      a.link__footer Careers
    .footer__links
      h5.footer__head Contact
      a.link__footer Contact Us
    .footer__links
      h5.footer__head Subscription
      a.link__footer Give a Gift
      a.link__footer Newsletter
    .footer__links
      h5.footer__head Follow
      .footer__img--container
        a(target="_blank" href="https://www.linkedin.com/in/robertklasen/") 
          img(src="img/linkedin.png" alt="Logo" class="footer__img")
        a(target="_blank"  href="https://github.com/Klasens") 
          img(src="img/github.png" alt="Logo" class="footer__img")
  .footer__subContent
    .footer__subLinks
      a.link__footer.u__display--inlineBlock Privacy Policy |
      |
      |
      |
      a.link__footer.u__display--inlineBlock !{' '}Terms & Conditions
    .footer__copyright
      p.footer__text Newsify.work Copyright &copy; 2023 by Klasen Development LLC. All Rights Reserved.
    