footer.footer
  .footer__content
    .footer__links
      h5.footer__head About
      a(href="/construction" class="link__footer") History
      a(href="/construction" class="link__footer") Resources 
    .footer__links
      h5.footer__head Contact
      a(href="/construction" class="link__footer") Contact 
      a(href="/construction" class="link__footer") Careers 
    .footer__links
      h5.footer__head Subscription
      a(href="/construction" class="link__footer") Give a Gift 
      a(href="/construction" class="link__footer") Newsletter 
    .footer__links
      h5.footer__head Follow
      .footer__img--container
        a(target="_blank" href="https://www.linkedin.com/in/robertklasen/") 
          img(src="img/linkedIn.png" alt="Logo" class="footer__img")
        a(target="_blank"  href="https://github.com/Klasens") 
          img(src="img/github.png" alt="Logo" class="footer__img")
  .footer__subContent
    .footer__subLinks
      a(href="/construction" class="link__footer u__display--inlineBlock") Privacy Policy | 
      |
      |
      |
      a(href="/construction" class="link__footer u__display--inlineBlock") !{' '}Terms & Conditions
    .footer__copyright
      p.footer__text Newsify.work Copyright &copy; 2023 by Klasen Development LLC. All Rights Reserved.
    