div.modal__outer.showModal#modal-opened
  div.modal__container.showModal
    div.modal__details
      h1.modal__title Newsify One Sheet
    p.modal__text Newsify is a news aggregation app that hooks into the GNews API. Searching keywords will return the total number of matching articles from the database as well as the top 10 articles from the search. To bookmark articles, input custom titles and notes, and access other features, create an account using the sign up button below.
    div.modal__btn--signUp Sign Up
    div.modal__headers--container
      div.modal__list--container
        h2.modal__title.modal__title--h2 Technology Stack
        ul.modal__list
          li.list-item Node.js (Express)
          li.list-item Mongoose
          li.list-item MongoDb
          li.list-item JavaScript
          li.list-item CSS (Sass)
          li.list-item Pug (Server Side Rendering)
      div.modal__list--container
        h2.modal__title.modal__title--h2 Data Sets & Models
        ul.modal__list
          li.list-item NoSQL (Embbeded Documents)
          li.list-item articles &mdash; Client Side
          li.list-item users &mdash; MongoDb
          li.list-item bookmarks &mdash; MongoDb
          li.list-item notes &mdash; MongoDb
          li.list-item curatedNewsLists &mdash; In Development
      div.modal__list--container
        h2.modal__title.modal__title--h2 Security (Middleware Stack)
        ul.modal__list
          li.list-item helmet &mdash; Set Security Headers
          li.list-item hpp &mdash; Prevent Parameter Pollution 
          li.list-item xss-clean &mdash; Sanitize User Input Data          
          li.list-item mongo-sanitize &mdash; Sanitize Query Injection          
          li.list-item express-rate-limit &mdash; Limit Requests By IP
      div.modal__list--container
        h2.modal__title.modal__title--h2 APIs & Authentication
        ul.modal__list
          li.list-item JSON Web Tokens
          li.list-item BCrypt (12 Salt Rounds)
          li.list-item Nodmailer
          li.list-item Newsify API
          li.list-item
            a(href="https://gnews.io/" class="list-item__link") GNews API (Documentation)
    a.modal__close