#list1.side-nav__parameters--grid
  h3#languages.side-nav__parameters--header Select Language
  ul#langauges-col-1.side-nav--mini
    li.side-nav__list-item--mini Arabic - ar 
    li.side-nav__list-item--mini Chinese - zh
    li.side-nav__list-item--mini Dutch - nl
    li.side-nav__list-item--mini English - en
    li.side-nav__list-item--mini French - fr
    li.side-nav__list-item--mini German - de
    li.side-nav__list-item--mini Greek - el
    li.side-nav__list-item--mini Hebrew - he
    li.side-nav__list-item--mini Hindi - hi
    li.side-nav__list-item--mini Italian - it
    li.side-nav__list-item--mini Japanese - ja 
  ul#langauges-col-2.side-nav--mini
    li.side-nav__list-item--mini Malayalam - ml
    li.side-nav__list-item--mini Marathi - mr
    li.side-nav__list-item--mini Norwegian - no
    li.side-nav__list-item--mini Portuguese - pt
    li.side-nav__list-item--mini Romanian - ro
    li.side-nav__list-item--mini Russian - ru
    li.side-nav__list-item--mini Spanish - es
    li.side-nav__list-item--mini Swedish - sv
    li.side-nav__list-item--mini Tamil - ta
    li.side-nav__list-item--mini Telugu - te
    li.side-nav__list-item--mini Ukranian - uk