.mobile-nav.pointer-events-none
  .mobile-nav__header
    img(src="img/x.png" alt="Logo" class="mobile-nav__icon" id="close")
    .mobile-nav__logo
      img(src="img/newsify.png" alt="Logo" class="mobile-nav__icon--logo")
      span.mobile-nav__logo--text Newsify
    img(src="img/search-dark.png" alt="Logo" class="mobile-nav__icon")
  .mobile-nav__menu
    h4.mobile-nav__mainHead Main Menu
    a(href="/login" class="mobile-nav__link") Sign In
    a(href="/signUp" class="mobile-nav__link") Sign Up
    a(href="/" class="mobile-nav__link") Search News
    a(href="/me" class="mobile-nav__link") Account