doctype html 
html
  head
    title newsify // #{title} 
    meta(charset="UTF-8") 
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,700", rel="stylesheet") 
    link(href="https://fonts.googleapis.com/css2?family=Bad+Script&display=swap", rel="stylesheet")
    link(rel="shortcut icon",type="image/x-icon",href="img/favicon.png")

    //- link(rel='stylesheet' href='css/style.css')
    //- link(rel='stylesheet' href='css/style2.css')
    link(rel='stylesheet' href='css/style3.css')

    //- script(type="module",src="js/controller.js")
    //- script(type="module",src="js/articles.js")
    //- script(type="module",src="js/login.js")
    //- script(type="module",src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.5/axios.min.js")
  body#noScroll
    div.container--2
      // HEADER
      include _header
      // CONTENT
      block content
      // FOOTER 
      include _footer

    script(src="js/bundle.js")

