extends base_2

block content 
  .modal-container.showModal
    .modal-landing.showModal
      .modal__details 
        h1.modal__title Under Construction
        .modal__content
        img(src='/img/hammer.png' alt="Logo" class="redirect__img")
        p.modal__description This page is under construction!
        a(href="/" class="redirect") https://www.newsify.work

