extends base_search

block content
  .search__container
    .results
      .results__total
      ul.results__list Total Articles Found - 30700
        li.results__list-item
          img(src='/img/test.jpeg' alt="Logo" class="results__img")
          h4.results__title Ind vs Aus: Austrailia Prepar...
          span.results__source Cricket Addictor
        li.results__list-item
          img(src='/img/test.jpeg' alt="Logo" class="results__img")
          h4.results__title Ind vs Aus: Austrailia Prepar...
          span.results__source Cricket Addictor
        li.results__list-item
          img(src='/img/test.jpeg' alt="Logo" class="results__img")
          h4.results__title Ind vs Aus: Austrailia Prepar...
          span.results__source Cricket Addictor
        li.results__list-item
          img(src='/img/test.jpeg' alt="Logo" class="results__img")
          h4.results__title Ind vs Aus: Austrailia Prepar...
          span.results__source Cricket Addictor
        li.results__list-item
          img(src='/img/test.jpeg' alt="Logo" class="results__img")
          h4.results__title Ind vs Aus: Austrailia Prepar...
          span.results__source Cricket Addictor
        li.results__list-item
          img(src='/img/test.jpeg' alt="Logo" class="results__img")
          h4.results__title Ind vs Aus: Austrailia Prepar...
          span.results__source Cricket Addictor
        li.results__list-item
          img(src='/img/test.jpeg' alt="Logo" class="results__img")
          h4.results__title Ind vs Aus: Austrailia Prepar...
          span.results__source Cricket Addictor
        li.results__list-item
          img(src='/img/test.jpeg' alt="Logo" class="results__img")
          h4.results__title Ind vs Aus: Austrailia Prepar...
          span.results__source Cricket Addictor
        li.results__list-item
          img(src='/img/test.jpeg' alt="Logo" class="results__img")
          h4.results__title Ind vs Aus: Austrailia Prepar...
          span.results__source Cricket Addictor
        li.results__list-item
          img(src='/img/test.jpeg' alt="Logo" class="results__img")
          h4.results__title Ind vs Aus: Austrailia Prepar...
          span.results__source Cricket Addictor
    .articles
      .articles__title
      .articles__bookmark
      .articles__description
      .articles__source
      .articles__content 