extends base_search

block content
  .search__container
    .results
      .results__total TOP HEADLINES 
      ul.results__list 
        li.results__list-item#general
          img(src='/img/test.jpg' alt="Logo" class="results__img")
          .results__list-item--container
            span.results__category General 
        li.results__list-item#world
          img(src='/img/test.jpg' alt="Logo" class="results__img")
          .results__list-item--container
            span.results__category World 
        li.results__list-item#nation
          img(src='/img/test.jpg' alt="Logo" class="results__img")
          .results__list-item--container
            span.results__category Nation 
        li.results__list-item#business
          img(src='/img/test.jpg' alt="Logo" class="results__img")
          .results__list-item--container
            span.results__category Business 
        li.results__list-item#technology
          img(src='/img/test.jpg' alt="Logo" class="results__img")
          .results__list-item--container
            span.results__category Technology 
        li.results__list-item#entertainment
          img(src='/img/test.jpg' alt="Logo" class="results__img")
          .results__list-item--container
            span.results__category Entertainment 
        li.results__list-item#sports
          img(src='/img/test.jpg' alt="Logo" class="results__img")
          .results__list-item--container
            span.results__category Sports 
        li.results__list-item#science
          img(src='/img/test.jpg' alt="Logo" class="results__img")
          .results__list-item--container
            span.results__category Science 
        li.results__list-item#health
          img(src='/img/test.jpg' alt="Logo" class="results__img")
          .results__list-item--container
            span.results__category Health 
    .articles
      .articles__description
        h5.articles__subHead-pre Using Newsify
        p.articles__text-pre To find news articles, try typing a search phrase or clicking one of the "Top Headline" searches in the sidebar