extends base_search

block content
  .search__container
    .results
      .results__total Total Articles Found - 30700
      ul.results__list 
        li.results__list-item
          img(src='/img/test.jpg' alt="Logo" class="results__img")
          .results__list-item--container
            h4.results__title IND VS AUS: AUSTRALIA PREPARE FOR INDIA TEST SERIES ON SPECIALLY PREPARED SPINNING PITCHES IN SYDNEY, CONFIRMS ANDREW MCDONALD
            span.results__source Cricket Addictor
        li.results__list-item
          img(src='/img/test.jpg' alt="Logo" class="results__img")
          .results__list-item--container
            h4.results__title IND VS AUS: AUSTRALIA PREPARE FOR INDIA TEST SERIES ON SPECIALLY PREPARED SPINNING PITCHES IN SYDNEY, CONFIRMS ANDREW MCDONALD
            span.results__source Cricket Addictor
        li.results__list-item
          img(src='/img/test.jpg' alt="Logo" class="results__img")
          .results__list-item--container
            h4.results__title IND VS AUS: AUSTRALIA PREPARE FOR INDIA TEST SERIES ON SPECIALLY PREPARED SPINNING PITCHES IN SYDNEY, CONFIRMS ANDREW MCDONALD
            span.results__source Cricket Addictor
        li.results__list-item
          img(src='/img/test.jpg' alt="Logo" class="results__img")
          .results__list-item--container
            h4.results__title IND VS AUS: AUSTRALIA PREPARE FOR INDIA TEST SERIES ON SPECIALLY PREPARED SPINNING PITCHES IN SYDNEY, CONFIRMS ANDREW MCDONALD
            span.results__source Cricket Addictor
        li.results__list-item
          img(src='/img/test.jpg' alt="Logo" class="results__img")
          .results__list-item--container
            h4.results__title IND VS AUS: AUSTRALIA PREPARE FOR INDIA TEST SERIES ON SPECIALLY PREPARED SPINNING PITCHES IN SYDNEY, CONFIRMS ANDREW MCDONALD
            span.results__source Cricket Addictor
        li.results__list-item
          img(src='/img/test.jpg' alt="Logo" class="results__img")
          .results__list-item--container
            h4.results__title IND VS AUS: AUSTRALIA PREPARE FOR INDIA TEST SERIES ON SPECIALLY PREPARED SPINNING PITCHES IN SYDNEY, CONFIRMS ANDREW MCDONALD
            span.results__source Cricket Addictor
        li.results__list-item
          img(src='/img/test.jpg' alt="Logo" class="results__img")
          .results__list-item--container
            h4.results__title IND VS AUS: AUSTRALIA PREPARE FOR INDIA TEST SERIES ON SPECIALLY PREPARED SPINNING PITCHES IN SYDNEY, CONFIRMS ANDREW MCDONALD
            span.results__source Cricket Addictor
        li.results__list-item
          img(src='/img/test.jpg' alt="Logo" class="results__img")
          .results__list-item--container
            h4.results__title IND VS AUS: AUSTRALIA PREPARE FOR INDIA TEST SERIES ON SPECIALLY PREPARED SPINNING PITCHES IN SYDNEY, CONFIRMS ANDREW MCDONALD
            span.results__source Cricket Addictor
        li.results__list-item
          img(src='/img/test.jpg' alt="Logo" class="results__img")
          .results__list-item--container
            h4.results__title IND VS AUS: AUSTRALIA PREPARE FOR INDIA TEST SERIES ON SPECIALLY PREPARED SPINNING PITCHES IN SYDNEY, CONFIRMS ANDREW MCDONALD
            span.results__source Cricket Addictor
        li.results__list-item
          img(src='/img/test.jpg' alt="Logo" class="results__img")
          .results__list-item--container
            h4.results__title IND VS AUS: AUSTRALIA PREPARE FOR INDIA TEST SERIES ON SPECIALLY PREPARED SPINNING PITCHES IN SYDNEY, CONFIRMS ANDREW MCDONALD
            span.results__source Cricket Addictor
    .articles
      figure.articles__img
        img(src="img/test.jpg" alt="Logo" class="img--article")
        .articles__title
         span IND VS AUS: AUSTRALIA PREPARE for india Test series on specially prepared spinning pitches in sydney, confirms andrew mcdonald
      .articles__bookmark#bookmarkBtn
        img(src="img/bookmark.png" alt="Logo" class="img--bookmark")
        span.articles__entry Bookmark Article
      .articles__description
        h5.articles__subHead Article Description
        p.articles__text IND vs AUS: Australia Prepare For India Test Series On Specially Prepared Spinning Pitches In Sydney, Confirms Andrew McDonald
      .articles__source
        h5.articles__subHead Source Information
        div.articles__entry--container
          .articles__entry--miniContainer
            img(src="img/checkmark.png" alt="Logo" class="img--sourceInfo")
            span.articles__entry Cricket Addictor
          .articles__entry--miniContainer
            img(src="img/checkmark.png" alt="Logo" class="img--sourceInfo")
            span.articles__entry https://cricketaddictor.com
          .articles__entry--miniContainer.miniHeader
            img(src="img/checkmark.png" alt="Logo" class="img--sourceInfo")
            span.articles__entry 2023-01-30 07:07:32
      .articles__content 
        h5.articles__subHead Article Content
        p.articles__text Australia National Cricket Team head coach Andrew McDonald has confirmed that they are preparing for the upcoming Border-Gavaskar Trophy series against India National Cricket Team on the specially prepared pitches in Sydney with an aim to win their f... [4798 chars]
        a(href="#") 
          button.btn.btn__header.btn__header--green Go To Site &#8594; 