@charset "UTF-8";
/**============================================
   *              MAIN 
   *=============================================**/
/**========================================================================
 *                           MEDIA BREAKPOINTS
 *========================================================================**/
/**============================================
   *              VARIABLES 
   *=============================================**/
/**============================================
   *              BASE 
   *=============================================**/
* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 61.25em) {
    html {
      font-size: 50%; } }

body {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #4d4542;
  background-image: linear-gradient(to right bottom, #50e0c4, #b8bdbd);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: calc(100vh - 2 * 4vw); }

a {
  text-decoration: none; }

.alert {
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 9999;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 1.6rem 15rem;
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25); }

.alert--success {
  background-color: #20bf6b; }

.alert--error {
  background-color: #eb4d4b; }

/**============================================
   *              HEADER 
   *=============================================**/
.header {
  position: relative;
  height: 10rem;
  background-color: #f9f5f3;
  justify-content: space-around;
  align-items: center;
  display: flex;
  border-bottom: 1px solid white;
  box-shadow: 0.4rem 0.4rem 2.4rem 0.2rem #05071f4d; }
  .header__left {
    display: flex;
    flex-direction: column; }
  .header__right {
    display: flex;
    justify-content: center;
    width: 30%; }
    .header__right > *:not(:first-child) {
      margin-left: 2rem; }
  .header__center {
    display: flex;
    justify-content: center;
    width: 30%; }
  .header__logout {
    position: absolute;
    bottom: 0;
    right: 2rem;
    font-size: 1.5rem;
    color: #0084ff; }
  .header__logo {
    display: block;
    border-radius: 50%; }
    .header__logo--main {
      height: 6rem;
      margin-right: 1rem; }
    .header__logo--secondary {
      height: 2.5rem;
      margin-right: 0.5rem; }
    .header__logo--login {
      height: 4.5rem;
      margin-right: 0.5rem; }
    .header__logo--search {
      height: 2.5rem;
      margin-right: 0.5rem; }

.logo__container {
  cursor: pointer;
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  text-decoration: none; }
  .logo__container--left {
    display: flex;
    flex-direction: column; }

.logo__text--main {
  background: -webkit-linear-gradient(#2df7ce, #414141);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Bad Script, cursive;
  font-size: 4rem;
  font-weight: 700; }

.logo__text--oneSheet {
  font-size: 1.5rem;
  font-style: italic;
  color: #1abc9c; }

.logo__text--secondary {
  font-size: 1.5rem;
  font-style: italic; }

.logo__text--bookmarks {
  font-size: 1.5rem;
  font-weight: bold;
  color: #1e1e1e;
  text-transform: uppercase;
  text-decoration: none; }

.logo__text--login {
  font-size: 2rem;
  color: #1e1e1e;
  text-transform: capitalize; }

.search {
  background-color: #fff;
  border-radius: 10rem;
  align-items: center;
  margin-left: 2rem;
  padding-left: 3rem;
  transition: all 0.3s;
  display: flex;
  /**============================================
   *             Mobile Small - 600
@include respond(break-600) {}
   *=============================================**/
  /**============================================
   *             Mobile Large - 850
@include respond(break-850) {}
   *=============================================**/
  /**============================================
   *                Tablet - 1000
@include respond(break-1000) {}
   *=============================================**/
  /**============================================
   *                Monitor Small - 1200
   @include respond(break-1250) {}
   *=============================================**/
  /**============================================
   *                Monitor Medium - 1400
   @include respond(break-1400) {}
   *=============================================**/
  /**============================================
   *                Larger than - 1600
   @include respond(break-greater-1600) {}
   *=============================================**/
  /**============================================
   *                Monitor Medium - 1400
   @include respond(break-1600) {}
   *=============================================**/
  /**============================================
   *                Telvision/Projector > 1800
   @include respond(break-1800) {}
   *=============================================**/ }
  @media (max-width: 37.5em) {
    .search {
      margin-left: 0;
      padding-left: 1rem; } }

.search:focus-within {
  transform: translateY(-2px);
  box-shadow: 0 0.7rem 3rem #4d454214; }

.search__field {
  color: inherit;
  width: 30rem;
  background: none;
  border: none;
  font-family: inherit;
  font-size: 1.7rem; }

.search__field:focus {
  outline: none; }

.search__field::placeholder {
  color: #bbb0ac; }

@media only screen and (max-width: 61.25em) {
  .search__field {
    width: auto; }
  .search__field::placeholder {
    color: #fff; } }

.search__icon {
  width: 2.25rem;
  height: 2.25rem;
  fill: currentColor; }

/**============================================
   *              FOOTER 
   *=============================================**/
.footer {
  background-color: #377c6e;
  width: 100%;
  border-top: 1px solid white; }
  .footer__content {
    margin-top: 1rem;
    display: flex;
    justify-content: center; }
    .footer__content > div:not(:first-child) {
      margin-left: 10rem; }
  .footer__subContent {
    width: 90%;
    border-top: 1px solid white;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    padding: 1rem 0; }
  .footer__links {
    display: flex;
    flex-direction: column; }
    .footer__links > a {
      line-height: 1.2; }
  .footer__img {
    height: 2.5rem;
    width: 2.5rem; }
    .footer__img--container {
      display: flex;
      justify-content: space-around; }
  .footer__text {
    font-size: 1.5rem;
    color: white; }

h5 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.6rem;
  color: white; }

.link__footer {
  font-size: 1.5rem;
  color: white;
  cursor: pointer; }

.link__footer:hover {
  text-decoration: underline; }

.u__display--inlineBlock {
  display: inline-block; }

/**============================================
   *              CONTENT 
   *=============================================**/
.container {
  max-width: 120rem;
  min-height: 117rem;
  margin: 4vw auto;
  background-color: #1abc9c;
  border-radius: 9px;
  border: 1px solid white;
  overflow: hidden;
  box-shadow: 0 2rem 6rem 0.5rem rgba(77, 69, 66, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /**============================================
   *             Mobile Small - 600
@include respond(break-600) {}
   *=============================================**/
  /**============================================
   *             Mobile Large - 850
@include respond(break-850) {}
   *=============================================**/
  /**============================================
   *                Tablet - 1000
@include respond(break-1000) {}
   *=============================================**/
  /**============================================
   *                Monitor Small - 1200
   @include respond(break-1250) {}
   *=============================================**/
  /**============================================
   *                Monitor Medium - 1400
   @include respond(break-1400) {}
   *=============================================**/
  /**============================================
   *                Larger than - 1600
   @include respond(break-greater-1600) {}
   *=============================================**/
  /**============================================
   *                Monitor Medium - 1400
   @include respond(break-1600) {}
   *=============================================**/
  /**============================================
   *                Telvision/Projector > 1800
   @include respond(break-1800) {}
   *=============================================**/ }
  @media only screen and (max-width: 78.15em) {
    .container {
      max-width: 100%;
      margin: 0;
      border-radius: 0; } }
  @media (max-width: 37.5em) {
    .container {
      display: flex;
      flex-direction: column; } }

.container--2 {
  max-width: 120rem;
  margin: 4vw auto;
  background-color: #1abc9c;
  border-radius: 9px;
  border: 1px solid white;
  overflow: hidden;
  box-shadow: 0 2rem 6rem 0.5rem rgba(77, 69, 66, 0.2);
  display: flex;
  flex-direction: column;
  /**============================================
   *             Mobile Small - 600
@include respond(break-600) {}
   *=============================================**/
  /**============================================
   *             Mobile Large - 850
@include respond(break-850) {}
   *=============================================**/
  /**============================================
   *                Tablet - 1000
@include respond(break-1000) {}
   *=============================================**/
  /**============================================
   *                Monitor Small - 1200
   @include respond(break-1250) {}
   *=============================================**/
  /**============================================
   *                Monitor Medium - 1400
   @include respond(break-1400) {}
   *=============================================**/
  /**============================================
   *                Larger than - 1600
   @include respond(break-greater-1600) {}
   *=============================================**/
  /**============================================
   *                Monitor Medium - 1400
   @include respond(break-1600) {}
   *=============================================**/
  /**============================================
   *                Telvision/Projector > 1800
   @include respond(break-1800) {}
   *=============================================**/ }
  @media only screen and (max-width: 78.15em) {
    .container--2 {
      max-width: 100%;
      margin: 0;
      border-radius: 0; } }
  @media (max-width: 37.5em) {
    .container--2 {
      display: flex;
      flex-direction: column; } }

.content {
  grid-area: content; }

/**============================================
   *              MAIN 
   *=============================================**/
.btn,
.btn:link,
.btn:visited {
  font-size: 1.6rem;
  padding: 1.4rem 3rem;
  border-radius: 10rem;
  text-transform: uppercase;
  position: relative;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  font-weight: 400;
  cursor: pointer;
  border: 1px solid #918581; }

.btn:hover {
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.25);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.25); }

.btn:active {
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25); }

.btn__header {
  color: #fff;
  font-size: 1.4rem;
  padding: 1.25rem 3rem;
  border-radius: 10rem;
  text-transform: uppercase;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
  border: 1px solid #918581;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); }
  .btn__header--yellow {
    font-size: 1.8rem;
    font-weight: 400;
    background-color: #ffd849;
    color: #1e1e1e; }
  .btn__header--green {
    background-image: linear-gradient(to bottom, #55c57a, #2e864b); }
  .btn__header--search {
    display: flex;
    align-items: center; }

.btn--green {
  color: #fff;
  background-image: linear-gradient(to bottom, #55c57a, #2e864b); }

.btn--green::after {
  background-color: #55c57a; }

.right {
  display: flex;
  justify-content: center; }

.articles {
  grid-area: article;
  background-color: white;
  position: relative; }
  .articles__img {
    height: 50rem;
    position: relative; }
    .articles__img::before {
      content: '';
      display: block;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-image: linear-gradient(to right bottom, rgba(55, 124, 110, 0.85), rgba(91, 255, 222, 0.85));
      opacity: 0.6; }
  .articles__title {
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    width: 75%;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) skewY(-6deg); }
    .articles__title > span {
      margin: 0 auto;
      color: white;
      font-size: 3.25rem;
      font-weight: bold;
      line-height: 1.9;
      padding: 1.3rem 2rem;
      background-image: linear-gradient(to right bottom, rgba(55, 124, 110, 0.85), rgba(91, 255, 222, 0.85)); }
  .articles__subHead {
    color: #1abc9c;
    font-weight: bold;
    margin-bottom: 1rem;
    font-size: 1.8rem; }
  .articles__text {
    color: #747170;
    width: 80%;
    font-size: 1.5rem;
    padding: 1rem 0; }

.articles__bookmark {
  padding: 2rem 0;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #1abc9c; }

.articles__description {
  padding: 2rem 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-bottom: 1px solid #1abc9c; }

.articles__source {
  padding: 2rem 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-bottom: 1px solid #1abc9c; }

.articles__content {
  padding: 2rem 0;
  display: flex;
  align-items: center;
  flex-direction: column; }

.articles__entry {
  font-size: 1.4rem; }

.articles__entry--container {
  width: 100%;
  display: flex;
  justify-content: space-around; }

.articles__entry--miniContainer {
  display: flex;
  align-items: center;
  position: relative; }

.miniHeader::before {
  content: 'Date Published:';
  display: block;
  position: absolute;
  top: -2rem;
  left: 3rem;
  font-size: 1.4rem;
  color: #1abc9c; }

.img--article {
  object-fit: cover;
  height: 100%;
  width: 100%; }

.img--bookmark {
  display: block;
  border-radius: 50%;
  height: 3.5rem;
  margin-right: 0.5rem; }

.img--sourceInfo {
  display: block;
  border-radius: 50%;
  height: 2.5rem;
  margin-right: 0.5rem; }

/**============================================
   *              LOGIN 
   *=============================================**/
h2 {
  font-size: 2.5rem;
  font-weight: 300;
  margin-bottom: 2rem;
  text-align: center;
  text-decoration: underline;
  color: #1abc9c; }

.login__container {
  display: flex;
  flex-direction: column;
  align-items: center; }

.login-form {
  margin: 0 auto;
  width: 55rem;
  padding: 4rem 12rem;
  border: solid 1px #918581;
  background-color: #fff;
  -webkit-box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.06);
  box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.06);
  border-radius: 10px; }

.form__input {
  display: block;
  font-family: inherit;
  font-size: 1.5rem;
  padding: 0.5rem;
  border: none;
  width: 100%;
  background-color: #f2f2f2;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 4px; }
  .form__input:focus {
    outline: none;
    border-bottom: 3px solid #55c57a; }
  .form__input:focus:invalid {
    border-bottom: 3px solid #ff7730; }
  .form__input::-webkit-input-placeholder {
    color: #bbb; }

.form__group:not(:last-child) {
  margin-bottom: 2.5rem; }

.form__label {
  display: block;
  font-size: 1.6rem;
  font-weight: 700; }

.form__btn {
  display: flex;
  justify-content: center; }

.modal__container {
  border: 1px solid #fff;
  color: #fff;
  background-color: #1abc9c;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
  transition: all 0.5s;
  display: flex;
  overflow: hidden;
  box-shadow: 0.4rem 0.4rem 2.4rem 0.2rem #05071f4d; }

@media (max-width: 53.125em) {
  .modal__container {
    width: 60rem; } }

@media (max-width: 37.5em) {
  .modal__container {
    width: 35rem;
    padding: 1rem 2rem; } }

.modal__details {
  display: flex;
  flex-direction: column;
  align-items: center; }

@media (max-width: 37.5em) {
  .modal__details {
    margin-bottom: 1rem;
    padding-bottom: 1rem; } }

.modal__title {
  font-size: 4rem;
  font-weight: 300; }

.modal__title--h1 {
  border-bottom: 3px solid #fff; }

.modal__title--h3 {
  width: 100%;
  font-size: 2.5rem;
  font-weight: 300;
  text-decoration: underline;
  position: relative; }

.modal__title--h3:before {
  content: '→';
  display: block;
  position: absolute;
  top: 0;
  left: -3rem; }

.list-item__link {
  color: #ffd849; }

.modal__list {
  font-size: 1.6rem;
  line-height: 1.3; }

.modal__list--container {
  margin-left: 3rem;
  padding: 2rem; }

.modal__description {
  margin-top: 2rem;
  font-size: 1.6rem;
  font-style: italic; }

.modal__text {
  width: 45%;
  padding: 1rem 0;
  font-size: 1.7rem; }

@media (max-width: 37.5em) {
  .modal__text {
    padding: 0 1rem; } }

.modal__headers--container {
  width: 65%;
  border-top: 2px solid #fff;
  display: grid;
  grid-template-areas: 'tech security' 'data API';
  padding: 2rem 1rem; }

#tech {
  grid-area: tech; }

#data {
  grid-area: data; }

#security {
  grid-area: security; }

#api {
  grid-area: API; }

.modal__btn {
  color: inherit;
  letter-spacing: 0.2rem;
  cursor: pointer;
  background: none;
  border: 1px solid #fff6;
  border-radius: 100rem;
  padding: 1rem 1.6rem;
  font-family: inherit;
  font-size: 1.4rem;
  transition: all 0.2s; }

.modal__btn:hover,
.modal__btn:focus {
  border-color: #fff9;
  transform: translateY(-0.2rem); }

.modal__btn--signUp {
  color: #000;
  cursor: pointer;
  text-transform: uppercase;
  background-color: #ffd848;
  border: 1px solid #000;
  border-radius: 5px;
  margin-bottom: 2rem;
  padding: 0.5rem 2rem;
  font-size: 2.5rem;
  box-shadow: 5px 5px 10px #414141;
  transition: all 0.3s; }

.modal__btn--signUp:hover {
  border: 1px dashed #00ff15;
  transform: translateY(-0.2rem); }

/**============================================
   *              BASE 
   *=============================================**/
.account__container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: 'sideBar userInfo'; }

#sideBar {
  grid-area: sideBar; }

#userInfo {
  grid-area: userInfo; }

.side-nav {
  padding-bottom: 1rem;
  border-bottom: 1px solid white; }
  .side-nav > li:not(:first-child) {
    margin-top: 1rem; }

.side-nav__header {
  color: white; }

.side-nav__link {
  padding-left: 2rem;
  display: flex;
  align-items: center;
  color: white;
  font-size: 2rem;
  transition: all 0.3s; }

.side-nav__list-item {
  color: white;
  display: flex;
  flex-direction: column; }

.side-nav__link:hover {
  border-left: 4px solid white; }

.side-nav__link--container {
  display: flex;
  flex-direction: column; }

.side-nav__link--parameter {
  padding-left: 4rem;
  font-size: 1.5rem; }

.user-view__side-bar {
  padding: 2rem 0; }

.user-view__content {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white; }

.form__user-photo {
  height: 7.5rem;
  border-radius: 50%; }

.form__photo-upload {
  display: flex; }

.form__upload {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1; }

.form__upload--label {
  color: #1abc9c;
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
  text-decoration: none;
  border-bottom: 1px solid #1abc9c;
  transition: all 0.2s;
  cursor: pointer;
  font-size: 2rem; }

.form__upload--label:hover {
  background-color: #1abc9c;
  color: white;
  border-bottom: 1px solid #ffd849;
  transform: translateY(-2px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.25); }

.u__display--flexCol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 2rem; }

.user-view__form-container {
  width: 40rem;
  padding: 2rem 0; }

.form__input {
  color: #747170; }

.side-nav__parameters--grid {
  position: absolute;
  width: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  grid-template-columns: 2;
  grid-template-areas: 'head head' 'lang1 lang2';
  place-items: center; }

#languages {
  grid-area: head; }

#languages-col-1 {
  grid-area: lang1; }

#languages-col-2 {
  grid-area: lang2; }

#countries {
  grid-area: head; }

#countries-col-1 {
  grid-area: lang1; }

#countries-col-2 {
  grid-area: lang2; }

#dateRange {
  grid-area: head; }

#dateRange-col-1 {
  grid-area: lang1; }

.side-nav--mini {
  padding-bottom: 1rem;
  color: white;
  list-style: none; }
  .side-nav--mini > li:not(:first-child) {
    margin-top: 1rem; }

.side-nav__parameters--header {
  color: white;
  font-size: 2rem;
  font-weight: 300;
  text-decoration: underline;
  margin: 1rem 0; }

.side-nav__list-item--mini {
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  border-bottom: none;
  cursor: pointer; }

.side-nav__list-item--mini:hover {
  border-bottom: 1px solid white; }

.parameters--container {
  position: relative; }

#list1 {
  opacity: 1; }

#list2 {
  opacity: 0;
  pointer-events: none; }

#list3 {
  opacity: 0;
  pointer-events: none; }

.search__container {
  display: grid;
  grid-template-columns: 3fr 7fr;
  grid-template-areas: 'results article'; }

.results {
  grid-area: results;
  background-color: #f9f5f3;
  border-right: 1px solid #1abc9c; }

.results__img {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  margin: 1rem; }

.results__total {
  font-size: 2.2rem;
  color: #1abc9c;
  text-decoration: underline;
  text-align: center;
  padding: 1rem 0; }

.results__list-item {
  display: flex;
  padding: 1rem;
  justify-content: center;
  border-top: 1px solid #5bffde;
  transition: all 0.2s;
  cursor: pointer; }
  .results__list-item:hover {
    transform: translateY(-2px);
    border-top: 1px solid #1e1e1e; }
    .results__list-item:hover + li {
      border-top: 1px solid #1e1e1e; }

.results__list-item--container {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.results__title {
  font-size: 1.7rem;
  text-transform: uppercase;
  color: #1abc9c;
  text-overflow: ellipsis;
  max-width: 25rem;
  overflow: hidden;
  white-space: nowrap; }

.results__source {
  font-size: 1.3rem;
  text-transform: uppercase;
  color: #747170; }
